# Project exclude paths
/.gradle/
/.idea/
/build/

*.yaml
*.class
*.kotlin_module
Topics/**/*.html

find-and-gitignore.ps1

**/out

Topics/Avoiding NPEs. Null safety/Avoiding NPEs. Null safety/
Topics/Boolean type and operations. True and false/Boolean type and operations. True and false/
Topics/Characters. Char type/Characters. Char type/
Topics/Comments/Comments/
Topics/Comparing numbers. Relational operators/Comparing numbers. Relational operators/
Topics/Constants and val variables/Constants and val variables/
Topics/Data types/Data types/
Topics/Declaring functions/Declaring functions/
Topics/Exception/Exception/
Topics/For loop and ranges/For loop and ranges/
Topics/Hierarchy of exceptions/Hierarchy of exceptions/
Topics/Increment and decrement/Increment and decrement/
Topics/Integers in action/Integers in action/
Topics/Invoking functions/Invoking functions/
Topics/Nullable and non-nullable types/Nullable and non-nullable types/
Topics/Properties of basic types/Properties of basic types/
Topics/Ranges/Ranges/
Topics/Reading data with readln/Reading data with readln/
Topics/Standard input with Java Scanner/Standard input with Java Scanner/
Topics/Standard output/Standard output/
Topics/String basics/String basics/
Topics/String templates/String templates/
Topics/Taming exceptions/Taming exceptions/
Topics/Type conversion/Type conversion/
Topics/Values and variables/Values and variables/
Topics/Working with strings/Working with strings/
Topics/Type system/Type system/
